<article class="sync-summary">
  <div class="sync-header">
    <%= time_tag(
      sync_summary.created_at,
      t(
        "sync_summary.time",
        duration: time_ago_in_words(sync_summary.created_at)
      )
    ) %>
    <%= render "sync_summaries/profile_events",
      status: "success",
      profile_events: sync_summary.profile_events.successful %>
    <%= render "sync_summaries/profile_events",
      status: "failure",
      profile_events: sync_summary.profile_events.failed %>
  </div>
</article>
