# http://ddollar.github.com/foreman/
RACK_ENV=development
SECRET_KEY_BASE=development_secret
NAMELY_CLIENT_ID=a_namely_client_id
NAMELY_CLIENT_SECRET=a_namely_client_secret
NAMELY_AUTH_CODE=set_me_when_rebuilding_vcr_fixtures
HOST=localhost:7000
