<div class="form-row">
  <%= form.input :username, input_html: { class: "half" } %>
</div>
<div class="form-row">
  <%= form.input :key, input_html: { class: "half" } %>
</div>
<div class="form-row">
  <%= form.input :customer_id, input_html: { class: "half" } %>
</div>
