---
http_interactions:
- request:
    method: get
    uri: https://api.jobvite.com/api/v2/candidate?api=<JOBVITE_KEY>&count=50&sc=<JOBVITE_SECRET>&start=1&wflowstate=Offer%20Accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total":1,"candidates":[{"address":"","address2":"","application":{"comments":null,"customField":[],"disposition":"Hired","eId":"pN0gfhw4","gender":"Undefined","hireDate":1415088000000,"job":{"company":null,"customField":null,"department":null,"eId":null,"hiringManagers":null,"location":null,"recruiters":null,"requisitionId":null,"subsidiaryId":null,"title":null},"lastUpdatedDate":1415088000000,"race":"Decline
        to Self Identify","source":"Attila Maczak","sourceType":"Recruiter","startDate":1415865600000,"status":null,"veteranStatus":"Undefined"},"city":"","companyName":"","country":"","eId":"edO1Ggwt","email":"beardsly@example.com","firstName":"Beardsly","homePhone":"","lastName":"McDog","location":",  ","postalCode":null,"state":"","title":"","workPhone":"","workStatus":"None"}]}'
  recorded_at: Thu, 06 Nov 2014 22:17:14 GMT
recorded_with: VCR 2.9.3
