<% if @candidate_retry_presenter.successful_import? %>
  <p><%= t(".successful", name: @candidate_retry_presenter.candidate_name) %></p>
<% else %>
  <p><%= t(".unsuccessful", name: @candidate_retry_presenter.candidate_name) %></p>
  <p><%= @candidate_retry_presenter.import_error %></p>
  <p><%= t(".retry") %></p>
<% end %>
