$black:          #151514;
$white:          #ffffff;

// blue
$blue: #477DCA;
$primary-blue:   #186bb7;
$secondary-blue: #4c9be6;
$tertiary-blue:  #0e3e6b;
$darkblue: #14212D;
$lightblue: #186BB7;
$light-blue:     #eaf5ff;

// greys
$grey-95:        #14212d;
$grey-75:        #4f5962;
$grey-50:        #899096;
$grey-25:        #c4c7ca;
$grey-15:        #dcdee0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$grey: #93999F;
$lightgrey: #CDD0D2;

// oranges
$orange:         #e05b18;
$orange-shade:   #b85828;
$dark-orange:    #87411d;
$yellow:         #fdb836;
$green:          #52ac00;

// Colors
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
