<div class="form-row">
  <%= form.input :account_id, input_html: {class: 'half'} %>
</div>
<div class="form-row">
  <%= form.input :email, input_html: {class: 'half'} %>
</div>
<div class="form-row">
  <%= form.input :password, input_html: {class: 'half'} %>
</div>
<p><%= t(".help") %></p>
