<%= render "subheader" %>

<section>
  <% @connections.each do |connection| %>
    <% if connection.enabled? %>
      <%= render "connection", connection: connection %>
    <% end %>
  <% end %>
</section>
