<ul id="apps">
  <li>
    <h2>Jobvite</h2>
    <% if @jobvite_connection.connected? %>
      <%= @jobvite_connection.api_key %>
      <div class="actions">
        <%= link_to t("dashboards.show.edit"), edit_jobvite_connection_path, class: "button" %>
        <%= button_to t("dashboards.show.disconnect"), jobvite_connection_path, method: :delete %>
      </div>
    <% else %>
      <div class="actions">
        <%= link_to t("dashboards.show.connect"), edit_jobvite_connection_path, class: "button" %>
      </div>
    <% end %>
  </li>
</ul>
