#apps {
  li {
    line-height: 3em;
  }

  h2 {
    display: inline;
    font-size: 1.5em;
    margin-right: 1em;
  }

  p.warning {
    float: right;
    color: #d00;
    font-weight: bold;
  }

  div.actions {
    float: right;
    clear: right;
  }
}

.connection {
  border-bottom: 1px solid $grey-25;
  padding: 20px 20px;

  .-n-btn { float: right; }
  p {
    margin: 1% 10% 1% 3%;
  }
}
