#apps {
  li {
    line-height: 3em;
  }

  h2 {
    display: inline;
    font-size: 1.5em;
    margin-right: 1em;
  }

  p.warning {
    float: right;
    color: #d00;
    font-weight: bold;
  }

  div.actions {
    float: right;
    clear: right;
  }
}
