form.form-inline {
  .form-row {
    .control-group {
      display: inline-block;

      .controls {
        display: inline-block;
      }

      &:last-child {
        float: right;
        margin-right: 40px;
      }
    }
  }
}
