body { 
  font-size: 0.8em;
}

header {
  background: $darkblue;
  border-bottom: 5px solid $lightblue;
  font-weight: bold;
  line-height: 26px;
}

header .inner {
  @include outer-container;
  padding: 1em;

  a {
    color: $lightblue;
  }

  .logo {
    float: left;
    .icon {
      background: transparent url('logo.svg') no-repeat;
      width: 37px;
      height: 40px;
      background-size: 40px 37px;
    }
  }

  .user {
    float: right;
    .fa {
      color: $lightblue;
    }
  }
}


#flash_notice {
  @extend %flash-success;
}

#content {
  @include outer-container;
  padding: 1em;


  #subheader {
    margin: 40px 0 40px 0;

    h1 {
      font-size: 36px;
      color: $grey;
    }

    p {
      font-size: 16px 22px;
    }
  }
}

